<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mred</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SL_VW_Customer_List_Report</servlet-name>
    <servlet-class>servlets.SL_VW_Customer_List_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL_VW_Customer_List_Report</servlet-name>
    <url-pattern>/SL_VW_Customer_List_Report</url-pattern>
  </servlet-mapping>
</web-app>